* {
    font-family: 'Roboto Slab', serif;
}

a{
    color: #543f32;
    text-decoration: none;
}

div.uplight{
    text-align: right;
}

div.center{
    text-align: center;
}
ul li,ol li {
    padding-left: 1em;
    text-indent: -1em;
    list-style-position: inside;
}

table{
    text-align: center;
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
}

input[type=text][type=password]{
    width:150px;
    height:20px;
}

p.title{
    font-size: 20px
}

p.date{
    font-size: 12px;
}