{*
  コメントアウト
*}
<body>
{include file='header.tpl' page_title={$smarty.const.MY_TITLE}}

<div class="uplight">
    <a href="index.php">Top</a>
    <a href="register.php">Register</a>
</div>
<div class="center">
    <p class="title">{$Login}</p>
    {if isset($error)}
        <ul>
            {section name=i loop=$error step=-1}
            <li>{$error[i]}
                {/section}
        </ul>
    {/if}
    <form method="post" action="login.php" name="userinfo">
        <table border="0">
            <tr>
                <td>
                    email
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" name="email">
                </td>
            </tr>
            <tr>
                <td>
                    password
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" name="passwd">
                </td>
            </tr>
            <tr>
                <td>
                    <br><input type="submit" name="submit" value="Submit">
                </td>
            </tr>
        </table>
    </form>
    </p>
</div>
</body>